{{ partial "header.html" . }}

<header>
  <!-- <img id="mark" src="images/jk.png" /> -->
  <h1 class="remove-bottom">{{ humanize .Type }} </h1>
</header>
<hr class="large" />
<div class="doc-section clearfix" id="intro">
{{ .Content }}
</div>
{{ range .Pages }}
    <hr />
    <div class="doc-section clearfix" id="{{ .Title }}">
      <a href="{{ .RelPermalink }}">
      {{ if .Params.full_title }}
        <h2>{{ .Params.full_title }}</h2>
      {{ else }}
        <h2>{{ .Title }}</h2>
      {{ end }}
      <h5>{{ .Date.Format "2006-01-02" }}</h5>
      </a>
      <div class="spacer"></div>
      {{ if .Params.cover_image }}
        {{ $image := .Resources.GetMatch .Params.cover_image }}
        {{ $x1600x := $image.Resize "1800x" }}
        {{ $x800x := $image.Resize "900x" }}
        {{ $x400x := $image.Resize "400x" }}
        <div class="blog-image">
            <a href="{{ .RelPermalink }}">
                <picture>
                    <source
                    srcset="{{ $x1600x.RelPermalink }} 3x,
                            {{ $x800x.RelPermalink }} 2x,
                            {{ $x400x.RelPermalink }} 1x" />
                    <img src="{{ $x800x.RelPermalink }}">
                </picture>
            </a>
        </div>
        <div class="spacer"></div>
      {{ end }}
        {{ .Summary }} ...
      </div>
{{ end }}

{{ partial "footer.html" . }}
