{{ partial "header.html" . }}

<header>
  <!-- <img id="mark" src="images/jk.png" /> -->
  <h1 class="remove-bottom">{{ humanize .Type }} </h1>
</header>
<hr class="large" />
<div class="doc-section clearfix" id="intro">
{{ .Content }}
</div>
{{ range .Pages }}
<hr />
<div class="doc-section clearfix" id="{{ .Title }}">
  <a href="{{ .Permalink }}">
  {{ if .Params.full_title }}
  <h2>{{ .Params.full_title }}</h2>
  {{ else }}
  <h2>{{ .Title }}</h2>
  {{ end }}
  <h5>{{ .Date.Format "2006-01-02" }}</h5>
  </a>
  <div class="spacer"></div>

{{ .Summary }} ...

</div>
{{ end }}

{{ partial "footer.html" . }}
