{{ partial "header.html" . }}

<main class="content">
  <article class="article">
    <h2 class="article-title">{{ .Title }}</h2>
    {{ if .Params.subtitle }}
        <h3>{{ .Params.subtitle }}</h3>
    {{ end }}
    {{ if eq .Section "blog" }}
      <h5>{{ .Date.Format "2006-01-02" }}</h5>
    {{ end }}

    {{ if .Params.cover_image }}
      {{ $image := .Resources.GetMatch .Params.cover_image }}
      {{ with $image }}
      <div class="blog-image">
        {{ partial "responsive-image.html" (dict "image" . "sizes" (partial "image-sizes.html" .) "alt" "") }}
      </div>
      {{ end }}
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

</main>

{{ partial "footer.html" . }}
