{{ partial "header.html" . }}

<main class="content">
  <article class="article">
    <h2 class="article-title">{{ .Title }}</h2>
    {{ if .Params.subtitle }}
        <h3>{{ .Params.subtitle }}</h3>
    {{ end }}
    {{ if eq .Section "blog" }}
      <h5>{{ .Date.Format "2006-01-02" }}</h5>
    {{ end }}

    {{ if .Params.cover_image }}
      {{ $image := .Resources.GetMatch .Params.cover_image }}
      {{ $x2100x := $image.Resize "2100x q90" }}
      {{ $x1400x := $image.Resize "1400x q90" }}
      {{ $x700x := $image.Resize "700x q90" }}
      {{ $alt_text := $image.Exif.Tags.ImageDescription }}
      <div class="blog-image">
          <picture>
              <source
              srcset="{{ $x2100x.RelPermalink }} 3x,
                      {{ $x1400x.RelPermalink }} 2x,
                      {{ $x700x.RelPermalink }} 1x">
              <img src="{{ $x700x.RelPermalink }}" alt = "{{ $alt_text }}">
          </picture>
      </div>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div>
  </article>

  {{ partial "disqus.html" .}}

</main>

{{ partial "footer.html" . }}
