    <div  class="footer clearfix" id="colophon">
      <p>Valid <a href="https://validator.w3.org/check?uri=https%3A%2F%2Fjonkeane.com">HTML5</a> and <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fjonkeane.com&amp;profile=css3&amp;usermedium=all&amp;warning=1&amp;vextwarning=true&amp;lang=en">CSS3</a> • Based on <a href="http://www.getskeleton.com/">skeleton</a> • Background image from <a href="https://subtlepatterns.com/">subtlepatterns</a> • Typeset in <a href="https://www.fontshop.com/fontlist/families/azuro/">Azuro</a> • Powered by <a href="https://github.com/rstudio/blogdown">blogdown</a>.</p>

    </div>

    </div>

    </div><!-- container -->

    <!-- JS
    ================================================== -->
    <script src="https://code.jquery.com/jquery-1.6.4.min.js" ></script>
    <script src="javascripts/tabs.js"></script>
    {{ template "_internal/google_analytics.html" . }}


    <!-- End Document
    ================================================== -->
  </body>
</html>
