<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Jonathan Keane - Data Scientist</title>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="css/skeleton.css" />
<link rel="stylesheet" href="css/layout.css" />
<link rel="stylesheet" href="css/jk.css" />

{{ partial "head.html" . }}

</head>
<body>

<!-- Primary Page Layout
================================================== -->

<div class="container">
{{ partial "nav.html" . }}
<div class="twelve columns offset-by-one">
  <header>
  <!-- <img id="mark" src="images/jk.png" /> -->
  <h1 class="remove-bottom">Jonathan Keane, PhD</h1>
 </header>
 <hr class="large" />